<!-- views/partials/header.ejs -->



<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
           <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> 
            Hum Safar
        </a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add_vehicles">Add Vehicles</a></li>
            <li><a href="/add_drivers">Add Drivers</a></li>
            <li><a href="/view_vehicles">My Vehicles</a></li>
        </ul>
    </div>

</div>
</nav>